{% extends 'filmes/base.html' %}
{% block js %}
    <script type="text/javascript" src="/static/filmes.js"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}This is a generic home for filme_app {% endtrans %}  </h1>
                <button id="mostrar-form-btn" class="btn btn-success">{% trans %}Create New Filme{% endtrans %}</button>
                <hr/>
                <div id="filme-form" class="well">
                    <h1 class="text-center">Filme Form</h1>

                    <div role="form">
                        <input type="hidden" value="04dacef8c8ee6d7a4dc582034ad5db5e" name="_csrf_code">

                        <div id="tituloDiv" class="form-group">
                            <label for="tituloInput" class="control-label">Titulo </label>
                            <input id="tituloInput" type="text" class="form-control" name="titulo" value="">
                            <span id="help-titulo" class="help-block"></span>
                        </div>

                        <div class="form-group ">
                            <label for="precoInput" class="control-label">Preco </label>
                            <input id="precoInput" type="text" class="form-control" name="preco" value="">
                        </div>

                        <div class="form-group ">
                            <label for="dataInput" class="control-label">Data </label>
                            <input id="dataInput" type="text" class="form-control" name="data" value="">
                        </div>

                        <button id="salvar-btn" class="btn btn-success">Salvar</button>
                        <img id="ajax-gif" src="/static/img/ajax.gif" />
                    </div>
                </div>
                <h2>{% trans %}List of Filmes{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Titulo{% endtrans %}</th>
                        <th>{% trans %}Preco{% endtrans %}</th>
                        <th>{% trans %}Data{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody id="corpo-tabela">
                    {% for filme in filmes %}
                        <tr>
                            <td>{{ filme.titulo }}</td>
                            <td>{{ filme.preco }}</td>
                            <td>{{ filme.data }}</td>
                            <td>
                                <form action="{{ filme.delete_path }}" method="post"
                                      onsubmit="return confirm('{{ _('Are you sure to delete? Press cancel to avoid deletion.') }}');">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger btn-sm"><i
                                            class="glyphicon glyphicon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}