{% extends 'base/base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
{% endblock %}

{% block js %}
<script type="application/javascript" src="/static/jquery-2.1.1.min.js"></script>
<script type="application/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="/static/img/carrousel.jpg" alt="...">

                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/img/carrousel.jpg" alt="...">

                        <div class="carousel-caption">
                        </div>
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-6">
            <div class="well">
                <h2> Inscreva-se
                </h2>
                <br/>
                <a href="#" class="btn btn-danger btn-xs"> Navegar</a>

            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <h2>{% trans %}Tekton is open source.{% endtrans %}</h2>
                <br/>

                <p>
                    <a href="https://github.com/renzon/tekton-fullstack" class="btn btn-social btn-github"><i
                            class="fa icon-github"></i>{% trans %}Check Git Hub Out{% endtrans %} &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}