{% extends 'filmes/base.html' %}
{% block body %}
{%  set erros= erros or None %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Exemplo de formulário</h1>

            <form action="{{ salvar_path }}" method="post">
                {{ csrf_input() }}
                {{form_input('Email','email',escravo.email,erros.email)}}
                {{form_input('Nome','name',escravo.name,erros.name)}}
                {{form_input('Idade','age',escravo.age,erros.age)}}
                {{form_input('Nascimento','birth',escravo.birth,erros.birth)}}
                {{form_input('Preço','price',escravo.price,erros.price)}}
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}